
@font-face{
  font-family:'Akkurat';
  src: url("./Fonts/Akkurat.ttf")
  format('opentype');
  
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  
}

html{
  scroll-behavior: smooth;
  scroll-padding:75px;
}

body{
  font-weight:400;
  overflow-x: hidden;
  position:relative;
  /* background-color: black !important; */
  color:white !important;
  background-color: black !important;
  font-family: Akkurat !important;
  /* background: url(D:\portfolio-website\src\Images\bg3.png);  */
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow-y: scroll !important;
  scroll-snap-type: y;



}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  display:flex;
  
  background:rgb(0, 0, 0);
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  
  
}
.navbar-brand{
  color:white;
  text-decoration: none;
  font-family: 'Akkurat';
  position: absolute;
  width: 40px;
  height: 29px;
  left: 3%;
  top: 3vh;
}
.Projects{
  color:white;
  text-decoration: none;
  font-family: 'Akkurat';
  position: absolute;
  width: 68px;
  height: 29px;
  left: 70%;
  top: 3vh;
}

.About{
  color:white;
  text-decoration: none;
  font-family: 'Akkurat';
  position: absolute;
  width: 53px;
  height: 29px;
  left: 80%;
  top: 3vh;
}

.Contact{
  color:white;
  text-decoration: none;
  font-family: 'Akkurat';
  position: absolute;
  width: 65px;
  height: 29px;
  left: 90%;
  top: 3vh;
}

.NavBar .container-fluid a:hover{
  border-bottom: 2px solid #88FEF7 ;
}


/*Page 1 title starts here */

.Title{
  display: flex;
  flex-direction: column;
  background: none !important;
  height:100vh !important;
 
  
}

.name {
  background: none !important;
  position:relative;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 122px;
  top:30vh;
  left:30vh;
}

.line{
  position:absolute;
  top:18vh;
  left:5vh;

}

.line2{
  position:absolute;
  top:26.6vh;
  right:22vh;
}

.position{
  display: inline-block;
  position:relative;
  left:45vh;
  top:30vh;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  height:20px;
}

.scroll{
 position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  right:50%;
  
}


.typing{
  overflow: hidden;
  border-right: .1em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: 
    typing 5s forwards infinite;
  
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



/*Project page starts here */
.Project {
  background-color: black !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 280vh;
}

.ptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  font-size: 10vh;
}

.divider {
  height: 0px;
  left: 332px;
  border: 1.5px solid #88FEF7;
  width:80vh;
}

.square {
  box-sizing: border-box;
  position: relative;
  width: 45vh;
  height: 50vh;
  margin-top: 10vh;
  left: -60vh;
  mix-blend-mode: normal;
  border: 4px solid #FFFFFF;
}

.square .tsq {
  position: relative;
  width: 38vh;
  height: 10vh;
  left: 3vh;
  top: 4vh;
  background: #4c4b4b;
  
}

.title {
  position: relative;
  top: 1.5vh;
  left: 2vh;
  font-size: 3.2vh;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 550;
  
}

.about {
  position: relative;
  top: 7vh;
  left: 3vh;
  font-size: 2.8vh;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 400;
}

.browser {
  position: relative;
  top: 15vh;
  left: 3vh;
  font-size: 3vh;
  letter-spacing: 0.105em;
  color: #88FEF7;
}

.browser a:link {
  text-decoration: none;
  color: #88FEF7;
}

.browser a:visited {
  text-decoration: none;
  color: #88FEF7;
}

.videosec {
  position: relative;
  bottom: 35.5vh;
  right: -50vh;
}


.square:nth-child(2) .videosec {
  position: relative;
  bottom: unset;
  right: unset;
  top: -39.5vh;
  right: -50vh;
}

.square:nth-child(2) .browser {
  position: relative;
  top: 12vh;
  left: 3vh;
  font-size: 3vh;
  letter-spacing: 0.105em;
  color: #88FEF7;
}


.square {
  /* ...existing styles... */
  /* Add the following styles for even number elements */
  &.right {
    left: unset;
    right: -60vh;
  }

  /* Add the following styles for odd number elements */
  &.left {
    box-sizing: border-box;
    position: relative;
    width: 45vh;
    height: 50vh;
    margin-top: 10vh;
    left: -60vh;
    mix-blend-mode: normal;
    border: 4px solid #FFFFFF;
    /* ...existing styles... */
  }
}

.square.right .videosec {
  bottom: 37vh;
  left:-135vh;
  
}

.viewmore{
  
  margin-top:10vh;
  font-size: 3vh;
  letter-spacing: 0.105em;
  color: #88FEF7;
  margin-bottom:1vh;
}

.viewmore a:link {
  text-decoration: none;
  color: #88FEF7;
}

.viewmore a:visited {
  text-decoration: none;
  color: #88FEF7;
}

/*About me page starts here*/


/* About page starts here */

.AboutPage {
  background-color: black !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
}

.about-title {
  margin-top: 10vh;
  font-size: 10vh;
  color: white;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 400;
  
}

.divider2 {
  height: 0px;
  left: 332px;
  border: 1.5px solid #88FEF7;
  width: 30vh;
}

.content
{
  float: left;
  width: 50%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-top:1vh;
  margin-left:-70vh;
  margin-bottom: 70px;
  font-size: 2.5vh;
  line-height:2;
  border-radius: 4vh;
}


.highlight {
  color: #88fef7;
}

.profile {
  float: right;
  width: 45%;
  height: 475px;
  margin: 30px;
  margin-left: 0;
  margin-bottom: 70px;
}

.profile-photo {
  width: 100%;
  height: auto;
}





